/* Navbar */
.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.login-button {
    padding-left: 10px;
}

.logo-section {
    display: flex;
    justify-content: center;
}

.menu-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    padding: 10px;
}

.search-section {
    border-bottom: 2px solid darkgray;
    align-self: center;
    padding: 4px;
    position: absolute;
    right: 20px;
}

.search {
    border: none;
}
