/* Navbar */
.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.login-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.login-button-container:hover {
    transform: scale(1.05);
    transition: transform 0.05s;
    font-weight: bold;
}

.login-button {
    padding-left: 10px;
}

.logo-section {
    display: flex;
    justify-content: center;
}

.logo-img {
    cursor: pointer;
}

.logo-img:hover {
    opacity: 0.8;
}

.menu-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    padding: 10px;
}

.search-section {
    border-bottom: 2px solid darkgray;
    align-self: center;
    padding: 4px;
    position: absolute;
    right: 20px;
}

.search {
    border: none;
    outline: none;
}

/* ProductCard */
.product-card {
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease-in;
}

.product-price {
    font-weight: bold;
}

.new-product {
    color: coral;
    font-weight: bold;
}

/* Product Detail */
.product-img {
    display: flex;
    justify-content: end;
}
